<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{_template :: head('Logout')}"></head>

<body class="grey lighten-2">
    
    <main class="container center">

        <h4>Tem certeza que deseja sair?</h4>

        <form th:action="${'/logout'}" method="post">
            <a href="/exercicio" class="btn red">
                <i class="material-icons left">chevron_left</i>
                Não
            </a>

            <button class="btn">Sim
                <i class="material-icons left">check</i>
            </button>
        </form>

 
    </main>

</body>
</html>