<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Usuarios')}"></head>

<body class="#eceff1 blue-grey lighten-5">

    <nav th:replace="~{_template :: #navbar}"></nav>

      <main class="container">
        <div class="card-panel teal white-text" th:if="${success}" th:text="${success}"></div>
        <div class="card-panel red white-text" th:if="${error}" th:text="${error}"></div>
        <h2>Usuarios</h2>

        <ul class="collection">
            <li class="collection-item" th:each="user : ${users}">
                <img th:src="${user.avatarUrl}" class="avatar" alt="">
                <span th:text="${user.name}"></span>
                <span class="secondary-content" th:text="${user.score}"></span>
            </li>
        </ul>

      </main>
</body>

</html>