<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Exercicios')}"></head>

<body class="#eceff1 blue-grey lighten-5">

    <nav th:replace="~{_template :: #navbar}"></nav>

      <main class="container">
        <div class="card-panel teal white-text" th:if="${success}" th:text="${success}"></div>
        <div class="card-panel red white-text" th:if="${error}" th:text="${error}"></div>
        <h2>Exercicios Pendentes</h2>

        <div class="row">
            <div class="col s12 m6 l4" th:each="ex : ${exercicios}">
              <div class="card"> 
                <div class="card-content">
                  <img th:if="${ex.user != null}" th:src="${ex.user.avatarUrl}" class="avatar" alt="">
                  <span class="card-title" th:text="${ex.title}"></span>
                  <p th:text="${ex.description}"></p>
                  <span data-badge-caption="Pontos" class="badge blue white-text" th:text="${ex.score}"></span>
                </div>
                
                <div class="card-action">
                  <a class="btn green">
                    <i class="material-icons">check</i>
                  </a>
                  <a class="btn red" th:href="${'/exercicio/delete/' + ex.id}">
                    <i class="material-icons">delete</i>
                  </a>
                  <a class="btn purple" th:if="${ex.user == null}" th:href="${'/exercicio/catch/' + ex.id}" title="Pegar exercicio">
                    <i class="material-icons">pan_tool</i>
                  </a>
                  <a class="btn amber black-text" th:if="${ex.user != null}" th:href="${'/exercicio/drop/' + ex.id}" title="Largar exercicio">
                    <i class="material-icons">do_not_touch</i>
                  </a>
                </div>
              </div>
            </div>
          </div>

      </main>

      <div class="fixed-action-btn">
        <a href="/exercicio/new" class="btn-floating btn-large blue">
          <i class="large material-icons">add</i>
        </a>
      </div>
 
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    const options = {
      constrainWidth: false,
      coverTrigger: false
    };
    var instances = M.Dropdown.init(elems, options);
  });
</script>

</html>